h1 {

  font-size: 34px;
  font-family: 'Nunito', sans-serif;;

  text-align: center;

  padding: 2%;

}

.wrapper {

  width: 50%;
  margin: auto;
  margin-bottom: 2%;

  background-color: var(--white);

  border-radius: 10px;
  box-shadow: 20px 20px 10px #BFACB54f;

}

.buttonWrapper {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

button {

  letter-spacing: 3px;

  border: none;

  padding: 10px;

  background-color: var(--primary-light-color);
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {

  background-color: var() ;

}

button.active {

  background-color: var(--white);
}

.active {

  background-color: var(--white);

}

p {

  text-align: left;

  padding: 10px;

}

.content {

  display: none;

  padding: 10px 20px;

}

.content.active {

  display: block;
  
}