.about-container {

    max-width: 70%;

    margin: 4% 0 4% 16%;

    border: 2px solid var(--primry-light-color);
    border-radius: 30px;

    background-color: var(--white);

    box-shadow: 20px 20px 10px #BFACB54f;

}

.about-container h2 {

    font-size: 35px;
    font-family: 'Nunito', sans-serif;

    padding-top: 2%;
    padding-bottom: 1%;

    text-align: center;

}

.about-container p {

    padding-left: 2%;
    padding-right: 2%;

    text-align: center;

}

.index-book-btn {

    margin: 2% 0 2% 30%;
    width: 40%;

}