.welcome {

    font-size: 80px;
    font-family: dancing script;
    color: var(--white);

    padding-right: 37%;
    padding-top: 20%;

}

.index-hero {

    background: linear-gradient(to bottom,#40404085, #BFACB5ba), url(/assets/img/index-hero.jpg);

}