.navigation {

    padding-top: 1%;
    padding-bottom: 1%;

    background-color: var(--white);

}

.navigation li {

    list-style: none;

}

.navigation ul a {

    text-decoration: none;

}

.navigation ul {

    display: flex;
    justify-content: center;
    gap: 5%;

}