.cat-wrapper {

    display: flex;
    flex-direction: column;

}

.cat-wrapper img {

    display: flex;

    border-radius: 50%;

    margin: 2%;

}


dl dt {

    font-weight: bold;
    font-family: nunito;
    font-size: 24px;

}

dl, .image-left p, .image-right p {

    text-align: center;
    line-height: 30px;

}

.image-right img {

    margin-left: 83%;

}